name: Blob storage website CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:            
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        azcliversion: 2.23.0
        inlineScript: |
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.html
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.php
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.css
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.js
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.jpg
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.png
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.xml
            az storage blob upload-batch --account-name briangithubactions -d '$web' -s . --pattern *.thmx
    - name: Purge CDN endpoint
      uses: azure/CLI@v1
      with:
        azcliversion: 2.23.0
        inlineScript: |
           az cdn endpoint purge --content-paths  "/*" --profile-name MyCDNProfile --name "brian-gaber" --resource-group StaticWebsiteRG

  # Azure logout 
    - name: logout
      run: |
            az logout
